* {
    font-family: monospace;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(249, 129, 77);
}

.navbar {
    padding-left: 15px;
    padding-right: 15px;
    position: fixed;  
    top: 0;           
    left: 0;          
    width: 100%;      
    background-color: rgba(0, 0, 0, 0.7);  
    z-index: 1000;    
    backdrop-filter: blur(10px);  
}    
.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo img {
    position: relative;
    height: 120px;
    padding-left: 30px;
}

ul {
    display: flex;    
    margin: 0;        
    padding: 0;       
}

li {
    list-style: none;
    display: inline-block;
    padding: 2rem;
}

li a {
    color: #fff;
    border: solid black;
    padding: 1rem;
    border-radius: 1.5rem;
    background-color: black;
    text-decoration: none;
    font-size: 19px;
    text-transform: uppercase;
}

li a:hover {
    background-color: var(--main-color);
    color: #000;
}

#checkButton {
    float: right;
    margin-top: 30px;
    font-size: 30px;
    display: none;
}

#nav-toggle {
    display: none;
}

.heroSection {
    padding: 10% 2%;
    width: 45%;
    margin-top: 80px;  
}

.imgSection {
    float: right;
    width: 40%;
    padding: 10% 2%;
}

.mainbody h1 {
    margin-bottom: 0%;
    font-size: 11vh;
    margin-top: 15%;
}

.mainbody h2 {
    font-size: 4vh;
    margin-bottom: 3%;
}

.Join-btn {
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color: var(--main-color);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
}

.Join-btn:hover {
    background-color: #fff;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 5px 5px 0px var(--main-color);
}

.Join-btn:active {
    background-color: #000;
    color: #fff;
    box-shadow: none;
    transform: translateY(4px);
}

.aboutUs h1 {
    font-size: 3.5rem;
    text-align: center;
    margin-bottom: 30px;
}

.aboutUs p {
    font-size: 2.5rem;
    text-align: center;
    line-height: 3rem;
}
