* {
    font-family:monospace
}

:root {
    --main-color: rgb(249,129,77);
}




 .navbar {
padding-left: 15px;
padding-right: 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav a:hover{
    cursor: pointer;
    color: black;
    text-decoration: none;
    background-color: var(--main-color);
}

logo a {
    font-size: 10rem;
    font-weight: 600;
}

li {
    list-style: none;
    display: inline-block;
    padding: 2rem;
    
}

li a {
    color: #fff;
    border:  solid black;
    padding: 1rem;
    border-radius: 2rem;
    background-color: black;
    text-decoration: none;
}

.mainbody h1 {
    margin-left: 5%;
    margin-bottom: 2%;
   font-size: 11vh;
   margin-top: 30%;
}

.mainbody h2 {
    margin-left: 5%;
    font-size:  4vh;
    margin-bottom: 3%;
   
}

.Join-btn {
    margin-left: 5%;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color:  var(--main-color);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  
  }
  
  .Join-btn:hover {
    background-color: #fff;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 5px 5px 0px var(--main-color);
  }
  
  .Join-btn:active {
    background-color: #000;
    color: #fff;
    box-shadow: none;
    transform: translateY(4px);

}



@media (max-width: 768px) {

 .navbar {
padding-left: 15px;
padding-right: 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

nav a:hover{
    background-color: var(--main-color);
}

logo a {
    font-size: 10rem;
    font-weight: 600;
}

li {
    list-style: none;
    display: inline-block;
    padding: 2rem;
    
}

li a {
    color: #fff;
    border:  solid black;
    padding: 1rem;
    border-radius: 2rem;
    background-color: black;
}

.h1-div h1 {
    margin-top: 65%;
    font-size: 6vh;
    display: flex;
    align-items: center;
}

.mainbody h2 {
  
   display: flex;
   align-items: center;
    font-size:  3vh;
    margin-bottom: 3%;
}

.Join-btn {
    margin-left: 5%;
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color:  var(--main-color);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;
  
  }
  
  .Join-btn:hover {
    background-color: #fff;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 5px 5px 0px var(--main-color);
  }
  
  .Join-btn:active {
    background-color: #000;
    color: #fff;
    box-shadow: none;
    transform: translateY(4px);

}
    
}






