
* {
    font-family:monospace
}

:root{
    --main-color: rgb(249,129,77);
}


 .mainbody-div h1{
    padding-top: 20%;
    margin: 0%;
    margin-left: 5%;
   font-size: 10vh;;
}

 .navbar {
padding-left: 15px;
padding-right: 15px;
}

.navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

logo a {
    font-size: 10rem;
    font-weight: 600;
}

li {
    list-style: none;
    display: inline-block;
    padding: 2rem;
    
}

li a {
    color: #fff;
    border:  solid black;
    padding: 1rem;
    border-radius: 2rem;
    background-color: black;
    text-decoration: none;
}

.heroSection{
    padding: 10% 2%;
    width: 45%;  
}


.imgSection{
    float: right;
    width: 40%;
    padding: 10% 2%;


}

.mainbody h1 {
    margin-bottom: 0%;
    font-size: 11vh;
    margin-top: 15%;
}

.mainbody h2 {
    font-size:  4vh;
    margin-bottom: 3%;
}

.Join-btn {
    
    padding: 10px 20px;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #fff;
    background-color:  var(--main-color);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
    cursor: pointer;

  }

  .Join-btn:hover {
    background-color: #fff;
    color: var(--main-color);
    border: 2px solid var(--main-color);
    box-shadow: 5px 5px 0px var(--main-color);
  }

  .Join-btn:active {
    background-color: #000;
    color: #fff;
    box-shadow: none;
    transform: translateY(4px);

}

nav a:hover{
    background-color:var(--main-colorColor);
}
